rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match/transactions/{document=**} {
      // allow read, write;  
      // only authenticated users will be allowed to create new documents
      allow create: if request.auth != null;
  // resource represents the doc itself
      allow read, delete: if request.auth.uid == resource.data.uid
    }
  }
}